a {
    color: lightskyblue;
}

.center-content {
    max-width: 100%; /* Prevent content from exceeding the width of the viewport */
    max-height: 100vh; /* Prevent content from exceeding the height of the viewport */
}

p {
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size:18px;
}

body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1.1em;
    max-width: 620px;
    padding: 2rem;
    margin: auto;
    background-color: #FFF7E4;
    color: rgba(24, 24, 24, 1);
}